<%= render "partial/navbar" %>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" style="background-image">
      <%= image_tag @listing.listing_image.url%>
    </div>
  </div>
</div>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <div class="listing-show-item">
      <!-- ユーザー情報 -->
      <div class="listing-show-user-image">
        <img src="<%= "/user_images/#{@listing.user.image}" %>">
      </div>
      <div class="listing-show-user-name">
        <%= link_to(@listing.user.name, "/users/#{@listing.user.id}") %>
      </div>
    </div>
    <div class="listing-show-text">
      <h1>
        <%= @listing.listing_title %>
      </h1>
      <p>
        <%= @listing.listing_content %>
      </p>
    </div>

    <!-- レビュー    -->
    <div class="row">
        <div class="col-md-9">
            <h3 class="row-space-3">レビュー</h3>
            <div id="average_star_rate"></div>
            <% if @review.nil? %>
              <%= render 'reviews/form' %>
            <% else %>
              <%= @review.description %>
            <% end %>
        </div>

        <div class="col-md-3">

        </div>
    </div>

    <!-- google map    -->
    <div class="row">
        <div class="col-md-9">
            <h3 class="row-space-3">受け渡し場所</h3>
            <div id="map"></div>
        </div>

        <div class="col-md-3">

        </div>
    </div>
    <style>
        #map{
            width: 100%;
            height: 350px;
        }

    </style>

    <!-- 受け渡し時間 -->
    <div class="row">
      <div class="col-md-9">
        <h3 class="row-space-3">受け渡し時間</h3>
        <p>
          <%= @listing.pickup_times %>
        </p>
      </div>
    </div>

    <div class="listing-button">
      <% if @listing.user_id == current_user.id %>
        <!-- リスティングの編集・削除 -->
        <div class="listing-user-button">
          <%= link_to "編集", "/listings/#{@listing.id}/edit" %>
          <%= link_to "削除", "/listings/#{@listing.id}", {method: "delete"} %>
        </div>
      <% else %>
        <!-- リスティングの予約 -->
        <% if !@reservation.nil? %>
          <% if @reservation.user_id == current_user.id %>
            <%= link_to listing_reservation_path(@listing), {method: "delete"} do %>
              <button type="button" class="btn btn-danger btn-lg">おすそわけしました</button>
            <% end %>
            <div class="listing-cancel">
              <%= link_to "キャンセルする", listing_reservation_path(@listing), {method: "delete"} %>
            </div>
          <% else %>
            <button type="button" class="btn btn-danger btn-lg" disabled>予約済みです</button>
          <% end %>
        <% else %>
          <%= link_to listing_reservations_path(@listing), {method: "post"} do %>
            <button type="button" class="btn btn-danger btn-lg">予約する</button>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</section>

<script>
function initMap() {

  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: <%=@listing.latitude %>, lng: <%=@listing.longitude %>},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  // Add the circle for this city to the map.
  var cityCircle = new google.maps.Circle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    center: {lat: <%=@listing.latitude %>, lng: <%=@listing.longitude %>},
    radius: 500
  });

}

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQpt9HosBNr4ToKp5diw2SNymRvH0V8q8&signed_in=true&callback=initMap">
</script>
