<%= render "partial/navbar" %>

<div class="main posts-index">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image}" %>" class="user-image">
      <h2><%= @user.name %></h2>
      <p><%= @user.profile %></p>

      <div id="average_star_rate"></div>

      <% if @user.id == current_user.id %>
        <div class="user-edit">
          <%= link_to("編集", edit_user_registration_path) %>
          <%= link_to("削除", user_registration_path, {method: "delete"}) %>
        </div>
      <% else %>
        <!-- send messageボタン -->
        <div class="user-message">
          <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-danger btn-full" %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="listing-content">
          <div class="row">
            <% @user_listings.reverse.first(12).each do |listing| %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="listing-box">
                  <div class="listing-data">
                    <div class="listing-wrap">
                        <%= link_to image_tag(listing.listing_image.url, {:border => '0'}), "/listings/#{listing.id}" %>
                    </div>
                    <div class="listing-title">
                      <%= listing.listing_title %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#average_star_rate').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @user.average_star_rate %>
  });
</script>
